<html>
    <head>
        <title>Image Classification</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type"text/css" href="style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            const Url = 'http://127.0.0.1:5000/predict'

            window.addEventListener('load', function() {
            document.querySelector('input[type="file"]').addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('imageData');
                    img.src = URL.createObjectURL(this.files[0]);

                    var data = new FormData()
                    data.append('file', this.files[0])

                    fetch(Url, {
                        method: 'POST',
                        body: data
                    })
                    .then(response => response.json())
                    .then(response => document.getElementById('classText1').innerHTML = response.class_name)
                    .catch(error => console.log(error))
                }
            });
            });
        </script>
    </head>

    <body>
        <div class="card">
            <div class="card-image">
                <img id="imageData" src="#" alt="your image" height=300>
            <div>
            <div class="card-text">
                <h2> Klasifikasi Kendaraan </h2>
                <p>Masukan foto untuk mencoba</p>
                <h2 id="classText1"></h2>
            <div>
            <div class="card-input">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Upload Foto
                </label>
                <input id="file-upload" type="file"/>
            <div>
        <div>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    </body>
</html>
